body{

    background:#eef3f8;

}

.main-card{

    max-width:700px;
    border-radius:18px;

}

.student{

    border:1px solid #ddd;

    border-radius:12px;

    padding:15px;

    margin-bottom:15px;

    transition:.2s;

}

.student:hover{

    box-shadow:0 5px 18px rgba(0,0,0,.12);

}

.name{

    font-size:20px;

    font-weight:bold;

}

.grade{

    color:#777;

    margin-bottom:12px;

}

.logo{
    width:100px;
    height:auto;
    display:block;
    margin:0 auto 15px;

}

.title{

    font-size:30px;

    font-weight:700;

    color:#2c3e50;

    margin-bottom:3px;

}

.subtitle{

    color:#666;

    font-size:18px;

    margin-bottom:0;

}

.program-title{

    color:#2e7d32;

    font-size:22px;

    font-weight:600;

    margin-bottom:4px;

}
